# Gradle
.gradle/
.kotlin/

# Build outputs
build/
**/build/

# Android IDE
.acside/
.androidide/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# Native
.externalNativeBuild/
.cxx/

# Captures
captures/

# macOS
.DS_Store

# Release artifacts
app/release/
app/libs/